@{
  Layout = "_Layout";
}
@using Factory.Models;
@model List<Factory.Models.Machine>;
@if (@Model.Count == 0)
{
  <p>
    There are no Machines listed.
  </p>
}
else
{
  <table class="table">
    <tr>
      <th>
        Machine Name:
      </th>
      <th>
        Function:
      </th>
      <th>
        Install Date:
      </th>
      <th>
        Next Inspection Date:
      </th>
      <th>
        Edit
      </th>
      <th>
        Delete
      </th>
    </tr>
    @foreach (Machine machine in Model)
    {
      <tr>
        <td>
          @Html.ActionLink($"{machine.MachineName}", "Read", new { id = machine.MachineId})
        </td>
        <td>
          @machine.MachineDescription
        </td>
        <td>
          @machine.MachineInstallDate.ToString("yyyy-MM-dd")
        </td>
        <td>
          @machine.MachineNextInspectionDate.ToString("yyyy-MM-dd")
        </td>
        <td>
          @Html.ActionLink($"Edit", "Edit", new { id = machine.MachineId})
        </td>
        <td>
          @Html.ActionLink($"Delete", "Delete", new { id = machine.MachineId})
        </td>
      </tr>
    }
  </table>
}
<span class="view-all">
  @Html.ActionLink("Add New Machine", "Create")
</span>