@* Machines.Index *@
@{
  Layout = "_Layout";
}




@using Factory.Models;
@model List<Factory.Models.Machine>;
hello 
@if (@Model.Count == 0)
{}

else
{
  <table>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </tr>
    @foreach (Machine machine in Model)
    {
      <tr>
        <td>
          @machine.MachineId
        </td>
        <td>
          @Html.ActionLink($"{machine.MachineName}", "Read", new { id = machine.MachineId})
        </td>
        <td>
          @Html.ActionLink($"Edit Details", "Edit", new { id = machine.MachineId})
        </td>
        <td>
          @Html.ActionLink($"Remove Machine", "Delete", new { id = machine.MachineId})
        </td>
      </tr>
    }
  </table>
}
@Html.ActionLink("to Create", "Create")

