@* Machines.Read *@
@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine;

<h1>@Html.DisplayFor(model => model.MachineName)</h1>
<h2>@Html.DisplayFor(model => model.MachineInstallDate, new {@type = "date"})</h2>
<h2>@Html.DisplayFor(model => model.MachineNextInspectionDate, new {@type = "date"})</h2>

@if (@Model.Engineers.Count == 0)
{
}
else
{
  <table>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </tr>
    @foreach (EngineerMachine engineer in Model.Engineers)
    {
      <tr>
        <td>
          @engineer.Engineer.EngineerName
        </td>
        <td>
          @using (@Html.BeginForm("DeleteEngineer", "Machines"))
          {
            @Html.Hidden("joinId", @engineer.EngineerMachineId)
            <input type="submit" value="Delete Engineer" />
          }
        </td>
        <td></td>
        </tr>
  }
  </table>
}

@Html.ActionLink("+ Engineer", "AddEngineer", new { id = Model.MachineId })
@Html.ActionLink("~ Machine", "Edit", new { id = Model.MachineId })
@Html.ActionLink("- Machine", "Delete", new { id = Model.MachineId })