@using Factory.Models;
@model Factory.Models.Machine;

@Html.DisplayFor(model => model.MachineName)

@if (@Model.Engineers.Count == 0)
{
  <p>
    nada
  </p>
}

else
{
  @foreach (EngineerMachine engineer in Model.Engineers)
  {
    @engineer.Engineer.EngineerName
    @using (@Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @engineer.EngineerMachineId)
      <input type="submit" value="Delete" />
    }
  }
}

@Html.ActionLink("+ Engineer", "AddEngineer", new { id = Model.MachineId })
@Html.ActionLink("~ Machine", "Edit", new { id = Model.MachineId })
@Html.ActionLink("- Machine", "Delete", new { id = Model.MachineId })