@using Factory.Models;
@model List<Factory.Models.Machine>;
@Html.Label("Machines:")
<ul>
  @if (@ViewBag.Machines.Count == 0)
  {
    <li>
      There are no Machines listed.
    </li>
    <li>
      @Html.ActionLink("Add new Machine?", "Create", "Machines")
    </li>
  }
  else
  {
    @foreach (Machine machine in (ViewBag.Machines))
    {
      <li>
        @Html.ActionLink($"{machine.MachineName}", "Read", "Machines", new { id = machine.MachineId})
      </li>
    }
    <li class="view-all">
      @Html.ActionLink("View All Machines", "Index", "Machines")
    </li>
  }
</ul>