@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

@using (Html.BeginForm())
{
  <p>
    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)
  </p>
  <p>
    @Html.LabelFor(model => model.EngineerDescription)
    @Html.TextBoxFor(model => model.EngineerDescription)
  </p>
  <p>
    @Html.LabelFor(model => model.EngineerHireDate)
    @Html.TextBoxFor(model => model.EngineerHireDate, new {@type = "date"})
  </p>
  <p>
    @Html.LabelFor(model => model.EngineerNextCertificationDate)
    @Html.TextBoxFor(model => model.EngineerNextCertificationDate, new {@type = "date"})
  </p>
  <p>
    <input type="submit" value="Save New Engineer" class="btn" />
  </p>
}