@* Engineers.Create *@
@Html.ActionLink("E", "Index", "Engineers")
<hr>
@Html.ActionLink("H", "Index", "Home")
<hr>

@using Factory.Models;
@model Factory.Models.Engineer

@using (Html.BeginForm())
{
  <p>
  @Html.Label("name")
  @Html.TextBoxFor(model => model.EngineerName)
  </p>
  <p>
  @Html.Label("hire date")
  @Html.TextBoxFor(model => model.EngineerHireDate, new {@type = "date"})
  </p>
  <p>  
  @Html.Label("task assigned")
  @* @foreach (var status in Model.EngineerWorkStatuses)
  {
    <input type="radio" asp-for="EngineerWorkStatus" value="@status" id="EngineerWorkStatus@(status)"/> @status<br />
    @* @Html.RadioButtonFor(model => model.EngineerWorkStatus, status) @status <br /> *@
  } *@
  
  
  
  </p>
  <p>
  <input type="submit" value="Save" class="btn" />
  </p>
}