@{
  Layout = "_Layout";
}
@using Factory.Models;
@model List<Factory.Models.Engineer>;
@if (@Model.Count == 0)
{
  <p>
    There are no Engineers listed.
  </p>
  <p>
    @Html.ActionLink("Add new Engineer", "Create")
  </p>
}
else
{
  <table class="table">
    <tr>
      <th>
        Engineer Name:
      </th>
      <th>
        Title:
      </th>
      <th>
        Hire Date:
      </th>
      <th>
        Next Certification Date:
      </th>
      <th>
        Edit
      </th>
      <th>
        Delete
      </th>
    </tr>
    @foreach (Engineer engineer in Model)
    {
      <tr>
        <td>
          @Html.ActionLink($"{engineer.EngineerName}", "Read", new { id = engineer.EngineerId})
        </td>
        <td>
          @engineer.EngineerDescription
        </td>
        <td>
          @engineer.EngineerHireDate.ToString("yyyy-MM-dd")
        </td>
        <td>
          @engineer.EngineerNextCertificationDate.ToString("yyyy-MM-dd")
        </td>
        <td>
          @Html.ActionLink($"Edit", "Edit", new { id = engineer.EngineerId})
        </td>
        <td>
          @Html.ActionLink($"Delete", "Delete", new { id = engineer.EngineerId})
        </td>
      </tr>
    }
  </table>
}

@Html.ActionLink("Add New Engineer", "Create")