@using Factory.Models;
@model Factory.Models.Engineer;

@Html.DisplayFor(model => model.EngineerName)

@if (@Model.Machines.Count == 0)
{
  <p>
    nada
  </p>
}

else
{
  @foreach (EngineerMachine machine in Model.Machines)
  {
    @machine.Machine.MachineName

    @using (@Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @machine.EngineerMachineId)
      <input type="submit" value="Delete" />
    }
  }
}

@Html.ActionLink("+ Machine", "AddMachine", new { id = Model.EngineerId })
@Html.ActionLink("~ Engineer", "Edit", new { id = Model.EngineerId })
@Html.ActionLink("- Engineer", "Delete", new { id = Model.EngineerId })